<h3>National (United States)</h3>
<ul id="USA">
	<li><a href="https://www.vaxxmax.com/" class="" data-record-id="67">https://www.vaxxmax.com/</a></li>
	<li><a href="https://www.findyourvaccine.org" class="" data-record-id="76">https://www.findyourvaccine.org</a></li>
	<li><a href="https://www.findvaccineusa.com/" class="" data-record-id="102">https://www.findvaccineusa.com/</a></li>
	<li><a href="https://vaxus.info/" class="" data-record-id="104">https://vaxus.info/</a></li>
	<li><a href="https://www.vaccinehunter.org/" class="" data-record-id="105">https://www.vaccinehunter.org/</a></li>
	<li><a href="https://www.findashot.org/" class="" data-record-id="142">https://www.findashot.org/</a></li>
	<li><a href="https://vaccinefinder.org" class="verified" data-record-id="143">https://vaccinefinder.org</a></li>
	<li><a href="https://www.vaccinespotter.org/" class="" data-record-id="144">https://www.vaccinespotter.org/</a></li>
	<li><a href="https://getmyvaccine.org/" class="" data-record-id="147">https://getmyvaccine.org/</a></li>
	<li><a href="https://getvaccineanswers.org/" class="" data-record-id="163">https://getvaccineanswers.org/</a></li>
	<li><a href="https://www.covidvaccinetexts.com/" class="" data-record-id="173">https://www.covidvaccinetexts.com/</a></li>
	<li><a href="https://wherecanigetavaccine.com/" class="" data-record-id="284">https://wherecanigetavaccine.com/</a></li>
</ul>
<h3>Alabama</h3>
<ul id="AL">
	<li><a href="https://www.alabamapublichealth.gov/covid19/" class="verified" data-record-id="43">https://www.alabamapublichealth.gov/covid19/</a></li>
	<li><a href="https://bamatracker.com/" class="" data-record-id="137">https://bamatracker.com/</a></li>
	<li><a href="https://alcovidvaccine.gov/" class="verified" data-record-id="232">https://alcovidvaccine.gov/</a></li>
	<li><a href="http://dhss.alaska.gov/dph/Epi/id/Pages/COVID-19/vaccine.aspx" class="verified" data-record-id="279">http://dhss.alaska.gov/dph/Epi/id/Pages/COVID-19/vaccine.aspx</a></li>
</ul>
<h3>Alaska</h3>
<ul id="AK">
	<li><a href="https://anchoragecovidvaccine.org/" class="verified" data-record-id="6">https://anchoragecovidvaccine.org/</a></li>
	<li><a href="https://vactrak.alaska.gov/iweb/" class="verified" data-record-id="7">https://vactrak.alaska.gov/iweb/</a></li>
	<li><a href="https://www.healthy.arkansas.gov/programs-services/topics/covid-19-vaccination-plan" class="verified" data-record-id="233">https://www.healthy.arkansas.gov/programs-services/topics/covid-19-vaccination-plan</a></li>
</ul>
<h3>Arizona</h3>
<ul id="AZ">
	<li><a href="https://covid19.arizona.edu/vaccine" class="verified" data-record-id="170">https://covid19.arizona.edu/vaccine</a></li>
	<li><a href="https://www.azdhs.gov/" class="verified" data-record-id="230">https://www.azdhs.gov/</a></li>
</ul>
<h3>California</h3>
<ul id="CA">
	<li><a href="https://www.vaccinateca.com/" class="" data-record-id="2">https://www.vaccinateca.com/</a></li>
	<li><a href="https://vaxie.info/" class="" data-record-id="103">https://vaxie.info/</a></li>
	<li><a href="https://scvaccinate.com" class="verified" data-record-id="109">santa cruz health homepage</a></li>
	<li><a href="https://othena.com/" class="" data-record-id="208">https://othena.com/</a></li>
	<li><a href="http://twitter.com/ca_covid" class="" data-record-id="214">http://twitter.com/ca_covid</a></li>
	<li><a href="https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/COVID-19Vaccine.aspx" class="verified" data-record-id="280">https://www.cdph.ca.gov/Programs/CID/DCDC/Pages/COVID-19/COVID-19Vaccine.aspx</a></li>
</ul>
<h3>Colorado</h3>
<ul id="CO">
	<li><a href="https://covid19.colorado.gov/vaccine" class="verified" data-record-id="149">https://covid19.colorado.gov/vaccine</a></li>
	<li><a href="https://www.facebook.com/groups/covaccinehunters" class="" data-record-id="150">Colorado Vaccine Hunters Facebook Group</a></li>
	<li><a href="https://twitter.com/covaxalerts" class="" data-record-id="151">Colorado Vax Alerts Twitter bot</a></li>
</ul>
<h3>Connecticut</h3>
<ul id="CT">
	<li><a href="https://portal.ct.gov/Vaccine-Portal" class="verified" data-record-id="171">https://portal.ct.gov/Vaccine-Portal</a></li>
	<li><a href="https://www.wfsb.com/news/ct-vaccine-rollout-where-to-register-for-a-vaccine-if-you-re-eligible/article_172cf82a-5421-11eb-a098-5b6d493f3339.html" class="" data-record-id="207">Where to register Article</a></li>
</ul>
<h3>Delaware</h3>
<ul id="DE">
	<li><a href="https://coronavirus.delaware.gov/vaccine/" class="verified" data-record-id="172">https://coronavirus.delaware.gov/vaccine/</a></li>
</ul>
<h3>District Of Columbia</h3>
<ul id="DC">
	<li><a href="https://coronavirus.dc.gov/vaccine" class="verified" data-record-id="234">https://coronavirus.dc.gov/vaccine</a></li>
</ul>
<h3>Florida</h3>
<ul id="FL">
	<li><a href="https://floridacovidaction.com/" class="" data-record-id="28">https://floridacovidaction.com/</a></li>
	<li><a href="https://www.publix.com/covid-vaccine/florida" class="" data-record-id="53">https://www.publix.com/covid-vaccine/florida</a></li>
	<li><a href="https://myvaccine.fl.gov/" class="verified" data-record-id="73">https://myvaccine.fl.gov/</a></li>
	<li><a href="https://www.facebook.com/groups/1502826939890243" class="" data-record-id="213">South Florida Mutual Aid Facebook Group</a></li>
	<li><a href="https://floridahealthcovid19.gov/vaccines/" class="verified" data-record-id="275">https://floridahealthcovid19.gov/vaccines/</a></li>
</ul>
<h3>Georgia</h3>
<ul id="GA">
	<li><a href="https://www.vaccinatega.com/" class="" data-record-id="20">https://www.vaccinatega.com/</a></li>
	<li><a href="https://dph.georgia.gov/covid-19-daily-status-report" class="verified" data-record-id="51">https://dph.georgia.gov/covid-19-daily-status-report</a></li>
	<li><a href="https://myvaccinegeorgia.com/" class="verified" data-record-id="210">https://myvaccinegeorgia.com/</a></li>
	<li><a href="https://dph.georgia.gov/covid-vaccine" class="verified" data-record-id="235">https://dph.georgia.gov/covid-vaccine</a></li>
</ul>
<h3>Guam</h3>
<ul id="GU">
	<li><a href="https://dphss.guam.gov/covid-19-vaccinations/" class="verified" data-record-id="282">https://dphss.guam.gov/covid-19-vaccinations/</a></li>
</ul>
<h3>Hawaii</h3>
<ul id="HI">
	<li><a href="https://hawaiicovid19.com/vaccine/" class="verified" data-record-id="169">https://hawaiicovid19.com/vaccine/</a></li>
</ul>
<h3>Idaho</h3>
<ul id="ID">
	<li><a href="https://healthandwelfare.idaho.gov/covid-19-vaccination" class="verified" data-record-id="168">Idaho health district contact information</a></li>
</ul>
<h3>Illinois</h3>
<ul id="IL">
	<li><a href="https://dph.illinois.gov/covid19" class="verified" data-record-id="39">https://dph.illinois.gov/covid19</a></li>
	<li><a href="https://vaccinateil.org" class="" data-record-id="91">https://vaccinateil.org</a></li>
	<li><a href="https://www.ilvaccine.org/" class="" data-record-id="116">https://www.ilvaccine.org/</a></li>
	<li><a href="https://www.facebook.com/groups/1864372350383607/" class="" data-record-id="177">Chicago Vaccine Hunters Facebook Group</a></li>
	<li><a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vQ9rQdqgSJFapWJCKHA6ERzTva0W82DiEHKzG5AWkCNCaXwgwZOIgoIcN4gsdjgQr8doMLPRTfrLV_L/pubhtml" class="" data-record-id="180">COVID-19 Vaccine Signup Links for IL</a></li>
	<li><a href="https://docs.google.com/document/u/0/d/e/2PACX-1vTKBvpFE1ac_MdJkQc7y19_74HoXKIMBp3gvclrk8eCRHnkqEXozDh26L22wHF-R4wg8se3Adh64_TD/pub" class="" data-record-id="190">Illinois Medical Professionals Vaccine Site Information Links</a></li>
	<li><a href="https://www.dph.illinois.gov/covid19/vaccine-faq" class="verified" data-record-id="273">https://www.dph.illinois.gov/covid19/vaccine-faq</a></li>
</ul>
<h3>Indiana</h3>
<ul id="IN">
	<li><a href="https://www.coronavirus.in.gov/vaccine/index.htm" class="verified" data-record-id="272">https://www.coronavirus.in.gov/vaccine/index.htm</a></li>
</ul>
<h3>Iowa</h3>
<ul id="IA">
	<li><a href="https://coronavirus.iowa.gov/" class="verified" data-record-id="42">https://coronavirus.iowa.gov/</a></li>
	<li><a href="https://idph.iowa.gov/Emerging-Health-Issues/Novel-Coronavirus/Vaccine" class="verified" data-record-id="237">https://idph.iowa.gov/Emerging-Health-Issues/Novel-Coronavirus/Vaccine</a></li>
</ul>
<h3>Kansas</h3>
<ul id="KS">
	<li><a href="https://www.kansasvaccine.gov/160/Find-My-Vaccine" class="verified" data-record-id="153">https://www.kansasvaccine.gov/160/Find-My-Vaccine</a></li>
</ul>
<h3>Kentucky</h3>
<ul id="KY">
	<li><a href="https://govstatus.egov.com/ky-covid-vaccine" class="verified" data-record-id="271">https://govstatus.egov.com/ky-covid-vaccine</a></li>
</ul>
<h3>Louisiana</h3>
<ul id="LA">
	<li><a href="https://ldh.la.gov/covidvaccine/" class="verified" data-record-id="270">https://ldh.la.gov/covidvaccine/</a></li>
	<li><a href="https://twitter.com/LAVaxAlerts" class="" data-record-id="297">https://twitter.com/LAVaxAlerts</a></li>
</ul>
<h3>Maine</h3>
<ul id="ME">
	<li><a href="https://www.maine.gov/covid19/vaccines" class="verified" data-record-id="167">https://www.maine.gov/covid19/vaccines</a></li>
</ul>
<h3>Maryland</h3>
<ul id="MD">
	<li><a href="https://maryland.maps.arcgis.com/apps/instant/nearby/index.html?appid=0dbfb100676346ed9758be319ab3f40c" class="" data-record-id="13">https://maryland.maps.arcgis.com/apps/instant/nearby/index.html?appid=0dbfb100676346ed9758be319ab3f40c</a></li>
	<li><a href="https://www.facebook.com/groups/462938984877900" class="" data-record-id="215">Maryland Vaccine Hunters Facebook Group</a></li>
	<li><a href="https://covidlink.maryland.gov/content/vaccine/" class="verified" data-record-id="281">https://covidlink.maryland.gov/content/vaccine/</a></li>
</ul>
<h3>Massachusetts</h3>
<ul id="MA">
	<li><a href="https://vaccinatema.com/" class="" data-record-id="4">https://vaccinatema.com/</a></li>
	<li><a href="https://www.macovidvaccines.com/" class="" data-record-id="63">https://www.macovidvaccines.com/</a></li>
	<li><a href="https://findvax.us/" class="" data-record-id="181">https://findvax.us/</a></li>
	<li><a href="https://brettcnelson.github.io/vaccine/" class="" data-record-id="186">Vaccine Links in MA</a></li>
	<li><a href="https://www.macovidvaccinefinder.org/" class="" data-record-id="203">https://www.macovidvaccinefinder.org/</a></li>
	<li><a href="https://twitter.com/ValleyVax" class="" data-record-id="205">Twitter bot for the Pioneer Valley</a></li>
	<li><a href="https://www.macovidvaccinefinder.org/" class="" data-record-id="206">https://www.macovidvaccinefinder.org/</a></li>
	<li><a href="https://www.mass.gov/covid-19-vaccine" class="verified" data-record-id="239">https://www.mass.gov/covid-19-vaccine</a></li>
	<li><a href="https://www.mass.gov/info-details/preregister-for-a-covid-19-vaccine-appointment" class="verified" data-record-id="295">Preregistration information for vaccines in MA</a></li>
</ul>
<h3>Michigan</h3>
<ul id="MI">
	<li><a href="https://www.vaccinemi.com/" class="" data-record-id="123">https://www.vaccinemi.com/</a></li>
	<li><a href="https://www.michigan.gov/coronavirus/0,9753,7-406-98178_103214---,00.html" class="verified" data-record-id="268">Michigan Coronavirus vaccine page</a></li>
</ul>
<h3>Minnesota</h3>
<ul id="MN">
	<li><a href="https://mn.gov/covid19/vaccine/index.jsp" class="verified" data-record-id="166">https://mn.gov/covid19/vaccine/index.jsp</a></li>
	<li><a href="https://www.facebook.com/groups/350853309230438" class="" data-record-id="216">Minneapolis Vaccine Hunters </a></li>
</ul>
<h3>Mississippi</h3>
<ul id="MS">
	<li><a href="https://msdh.ms.gov/msdhsite/_static/14,0,420,976.html" class="verified" data-record-id="266">Mississippi Coronavirus vaccine page</a></li>
</ul>
<h3>Missouri</h3>
<ul id="MO">
	<li><a href="https://covidvaccine.mo.gov/" class="verified" data-record-id="265">https://covidvaccine.mo.gov/</a></li>
</ul>
<h3>Montana</h3>
<ul id="MT">
	<li><a href="https://dphhs.mt.gov/covid19vaccine" class="verified" data-record-id="240">https://dphhs.mt.gov/covid19vaccine</a></li>
</ul>
<h3>Nebraska</h3>
<ul id="NE">
	<li><a href="https://dhhs.ne.gov/Pages/COVID-19-Vaccine-Information.aspx" class="verified" data-record-id="264">https://dhhs.ne.gov/Pages/COVID-19-Vaccine-Information.aspx</a></li>
</ul>
<h3>Nevada</h3>
<ul id="NV">
	<li><a href="https://www.immunizenevada.org/nv-covid-fighter" class="verified" data-record-id="231">https://www.immunizenevada.org/nv-covid-fighter</a></li>
</ul>
<h3>New Hampshire</h3>
<ul id="NH">
	<li><a href="https://www.vaccines.nh.gov" class="verified" data-record-id="161">https://www.vaccines.nh.gov</a></li>
</ul>
<h3>New Jersey</h3>
<ul id="NJ">
	<li><a href="https://vaccinatenj.com" class="" data-record-id="24">https://vaccinatenj.com</a></li>
	<li><a href="https://covidnj.com/living-with-covid#vaccine" class="" data-record-id="193">https://covidnj.com/living-with-covid#vaccine</a></li>
	<li><a href="https://www.facebook.com/groups/891546924927251/" class="" data-record-id="211">New Jersey Covid Vaccine Info Facebook Group</a></li>
	<li><a href="https://www.facebook.com/groups/newjerseycovidvaccinesites/" class="" data-record-id="217">New Jersey Covid Vaccine Sites Facebook group</a></li>
	<li><a href="https://twitter.com/nj_vaccine" class="" data-record-id="223">https://twitter.com/nj_vaccine</a></li>
	<li><a href="https://twitter.com/C19VaxxUpdates" class="" data-record-id="224">https://twitter.com/C19VaxxUpdates</a></li>
	<li><a href="https://covid19.nj.gov/pages/vaccine" class="verified" data-record-id="262">https://covid19.nj.gov/pages/vaccine</a></li>
</ul>
<h3>New Mexico</h3>
<ul id="NM">
	<li><a href="https://cv.nmhealth.org/covid-vaccine/" class="verified" data-record-id="261">https://cv.nmhealth.org/covid-vaccine/</a></li>
</ul>
<h3>New York</h3>
<ul id="NY">
	<li><a href="https://nycvaccinelist.com/" class="" data-record-id="5">https://nycvaccinelist.com/</a></li>
	<li><a href="https://vaccinefinder.nyc.gov/" class="verified" data-record-id="15">https://vaccinefinder.nyc.gov/</a></li>
	<li><a href="https://am-i-eligible.covid19vaccine.health.ny.gov/" class="verified" data-record-id="69">NY COVID eligibility checker</a></li>
	<li><a href="https://www.turbovax.info/" class="" data-record-id="84">https://www.turbovax.info/</a></li>
	<li><a href="https://www.facebook.com/groups/1096372554182771/" class="" data-record-id="212">New York/Connecticut Vaccine Hunters &amp; Angels facebook Group</a></li>
	<li><a href="https://epicenter-nyc.com/epicenters-vaccine-resources/" class="" data-record-id="218">https://epicenter-nyc.com/epicenters-vaccine-resources/</a></li>
	<li><a href="https://www.instagram.com/p/CL9kKqklBc3/" class="" data-record-id="219">West Brooklyn Waterfront Mutual Aid Instagram Group</a></li>
	<li><a href="https://twitter.com/nycshotslots" class="" data-record-id="225">https://twitter.com/nycshotslots</a></li>
	<li><a href="https://covid19vaccine.health.ny.gov/" class="verified" data-record-id="260">https://covid19vaccine.health.ny.gov/</a></li>
</ul>
<h3>North Carolina</h3>
<ul id="NC">
	<li><a href="https://covid19.ncdhhs.gov/vaccines/find-your-spot-take-your-shot" class="verified" data-record-id="159">https://covid19.ncdhhs.gov/vaccines/find-your-spot-take-your-shot</a></li>
</ul>
<h3>North Dakota</h3>
<ul id="ND">
	<li><a href="https://www.health.nd.gov/covid-19-vaccine-information" class="verified" data-record-id="258">https://www.health.nd.gov/covid-19-vaccine-information</a></li>
</ul>
<h3>Ohio</h3>
<ul id="OH">
	<li><a href="https://coronavirus.ohio.gov/wps/portal/gov/covid-19/covid-19-vaccination-program" class="verified" data-record-id="257">https://coronavirus.ohio.gov/wps/portal/gov/covid-19/covid-19-vaccination-program</a></li>
	<li><a href="https://app.vaccinateoh.org/" class="" data-record-id="288">https://app.vaccinateoh.org/</a></li>
	<li><a href="https://www.facebook.com/groups/418103612583352/" class="" data-record-id="289">Northeast Ohio Vaccine Hunters Facebook Group</a></li>
	<li><a href="https://www.facebook.com/groups/251455849845685/" class="" data-record-id="290">Ohio Vaccine Hunters Facebook Group</a></li>
	<li><a href="https://www.facebook.com/groups/841862596764753/" class="" data-record-id="291">(another) Ohio Vaccine Hunters Facebook Group</a></li>
	<li><a href="https://www.facebook.com/groups/489467135552288/" class="" data-record-id="292">Columbus, OH Vaccine hunters Facebook Group</a></li>
	<li><a href="https://docs.google.com/spreadsheets/d/1KLPAwUMFq4zS3zwLdv3dUTtIcdz0BzUbTttZmxOiAz4/edit?usp=sharing" class="" data-record-id="294">Ohio No Waste Lists and Resources</a></li>
</ul>
<h3>Oklahoma</h3>
<ul id="OK">
	<li><a href="https://vaccinate.oklahoma.gov/en-US/" class="verified" data-record-id="155">https://vaccinate.oklahoma.gov/en-US/</a></li>
	<li><a href="http://twitter.com/vaccinealertsok" class="" data-record-id="220">http://twitter.com/vaccinealertsok</a></li>
	<li><a href="https://twitter.com/kcvaccinewatch" class="" data-record-id="222">https://twitter.com/kcvaccinewatch</a></li>
	<li><a href="https://oklahoma.gov/covid19/vaccine-information.html" class="verified" data-record-id="241">https://oklahoma.gov/covid19/vaccine-information.html</a></li>
	<li><a href="https://vaccine-alerts.com/" class="" data-record-id="286">https://vaccine-alerts.com/</a></li>
</ul>
<h3>Oregon</h3>
<ul id="OR">
	<li><a href="https://covidvaccine.oregon.gov/" class="verified" data-record-id="11">https://covidvaccine.oregon.gov/</a></li>
	<li><a href="https://www.getvaccinated.oregon.gov/#/" class="verified" data-record-id="59">https://www.getvaccinated.oregon.gov/#/</a></li>
	<li><a href="https://docs.google.com/spreadsheets/d/1kJaFK8HzaMchVbnFhzbkh845aHRg3hJZBJNnWM4i92g/edit?usp=sharing" class="" data-record-id="200">List of vaccine information by county and vaccination group</a></li>
</ul>
<h3>Pennsylvania</h3>
<ul id="PA">
	<li><a href="https://vaccinatepa.org/" class="" data-record-id="88">https://vaccinatepa.org/</a></li>
	<li><a href="https://www.health.pa.gov/topics/disease/coronavirus/Vaccine/Pages/Vaccine.aspx" class="verified" data-record-id="255">https://www.health.pa.gov/topics/disease/coronavirus/Vaccine/Pages/Vaccine.aspx</a></li>
</ul>
<h3>Puerto Rico</h3>
<ul id="PR">
	<li><a href="https://www.vacunatepr.com/covid-19" class="verified" data-record-id="285">https://www.vacunatepr.com/covid-19</a></li>
</ul>
<h3>Rhode Island</h3>
<ul id="RI">
	<li><a href="https://www.vaccinateri.org/" class="verified" data-record-id="139">https://www.vaccinateri.org/</a></li>
	<li><a href="https://covid.ri.gov/vaccination" class="verified" data-record-id="254">https://covid.ri.gov/vaccination</a></li>
</ul>
<h3>South Carolina</h3>
<ul id="SC">
	<li><a href="https://scdhec.gov/covid19/covid-19-vaccine" class="verified" data-record-id="243">https://scdhec.gov/covid19/covid-19-vaccine</a></li>
</ul>
<h3>South Dakota</h3>
<ul id="SD">
	<li><a href="https://doh.sd.gov/COVID/Vaccine/default.aspx" class="verified" data-record-id="253">https://doh.sd.gov/COVID/Vaccine/default.aspx</a></li>
</ul>
<h3>Tennessee</h3>
<ul id="TN">
	<li><a href="https://www.facebook.com/groups/1089267921534517/" class="" data-record-id="185">Tennessee Vaccine Hunters Facebook Group</a></li>
	<li><a href="https://covid19.tn.gov/covid-19-vaccines/" class="verified" data-record-id="252">https://covid19.tn.gov/covid-19-vaccines/</a></li>
</ul>
<h3>Texas</h3>
<ul id="TX">
	<li><a href="https://www.covid19vaccinetx.com/" class="" data-record-id="3">https://www.covid19vaccinetx.com/</a></li>
	<li><a href="https://dshs.texas.gov/coronavirus/" class="verified" data-record-id="52">https://dshs.texas.gov/coronavirus/</a></li>
	<li><a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vSZyqnDgzU1IL291Q5E1tnFIkaf0sWIXD453RrwbDdXXwPmcojKE_qpJqsyp2qGMZ7F68OdcghdYgQi/pubhtml?fbclid=IwAR1ss0C-JtG89u1NA01FuCFjVzsqzz32L8tmp4SCkGp7ZDq9fLpS1bnHL9U" class="" data-record-id="226">Austin Vaccine Spreadsheet</a></li>
	<li><a href="https://texasvaccineupdates.slack.com/join/shared_invite/zt-n8mtmdgm-Js7LHp9Qg4izqumg8ho22w#/shared-invite/email" class="" data-record-id="227">Texas Vaccine Update Slack</a></li>
	<li><a href="https://twitter.com/HebTracker" class="" data-record-id="228">H-E-B Pharmacy Vaccine twitter bot</a></li>
	<li><a href="https://vaccine.heb.com/" class="" data-record-id="229">H-E-B Pharmacy vaccine page</a></li>
	<li><a href="https://dshs.state.tx.us/coronavirus/immunize/vaccine.aspx" class="verified" data-record-id="244">https://dshs.state.tx.us/coronavirus/immunize/vaccine.aspx</a></li>
</ul>
<h3>Utah</h3>
<ul id="UT">
	<li><a href="https://coronavirus-dashboard.utah.gov/#overview" class="verified" data-record-id="47">https://coronavirus-dashboard.utah.gov/#overview</a></li>
	<li><a href="https://coronavirus.utah.gov/" class="verified" data-record-id="245">https://coronavirus.utah.gov/</a></li>
</ul>
<h3>Vermont</h3>
<ul id="VT">
	<li><a href="https://www.healthvermont.gov/covid-19/vaccine/about-covid-19-vaccines-vermont" class="verified" data-record-id="31">https://www.healthvermont.gov/covid-19/vaccine/about-covid-19-vaccines-vermont</a></li>
</ul>
<h3>Virginia</h3>
<ul id="VA">
	<li><a href="https://www.vdh.virginia.gov/covid-19-vaccine/" class="verified" data-record-id="246">https://www.vdh.virginia.gov/covid-19-vaccine/</a></li>
</ul>
<h3>Washington</h3>
<ul id="WA">
	<li><a href="https://www.covidwa.com/" class="" data-record-id="71">https://www.covidwa.com/</a></li>
	<li><a href="https://findyourphasewa.org" class="verified" data-record-id="74">WA COVID phase checker</a></li>
	<li><a href="https://www.doh.wa.gov/Emergencies/COVID19/Vaccine" class="verified" data-record-id="250">https://www.doh.wa.gov/Emergencies/COVID19/Vaccine</a></li>
</ul>
<h3>West Virginia</h3>
<ul id="WV">
	<li><a href="http://www.vaccinate.wv.gov/" class="verified" data-record-id="156">http://www.vaccinate.wv.gov/</a></li>
</ul>
<h3>Wisconsin</h3>
<ul id="WI">
	<li><a href="https://www.dhs.wisconsin.gov/covid-19/index.htm" class="verified" data-record-id="41">https://www.dhs.wisconsin.gov/covid-19/index.htm</a></li>
</ul>
<h3>Wyoming</h3>
<ul id="WY">
	<li><a href="https://health.wyo.gov/publichealth/immunization/wyoming-covid-19-vaccine-information/county-covid-19-vaccine-information/" class="verified" data-record-id="157">Wyoming Vaccination information by county</a></li>
</ul>