<div class="social-links">
	<ul class="social-media-list">

		{% for share in site.data.sharing %}

			{% assign full_url = share.urlprefix | append: "?" %}
			
			{% for parameter in share.parameters %}
				{% assign full_url = full_url | append: parameter[0] | append: "=" | append: parameter[1] | append: "&" %}
			{% endfor %}

			{% assign full_url = full_url | replace: " ", "%20" %}

			<li>
				<a href="{{full_url}}" title="Share on {{share.name}}" target="_blank" rel="noopener" aria-label="Share on {{share.name}}" >
					<div class="sharing-button" style="background-color: #{{share.color}}">
						<i class="{{share.icon}} social-icon"></i> {{share.name}}
					</div>
				</a>
			</li>

			{% assign full_url = "" %}
		{% endfor %}
	</ul>

</div>