---
layout: default
---

<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}

  <h1>Links by State</h1>
  <div id="link-list"></div>

  <script>
    var Airtable = require('airtable');
    // Get a base ID and use a read-only API key
    var base = new Airtable({ apiKey: 'keyyCSADD61J0D4wQ' }).base('appGzEQkD3QySIDvj');
    let states = {
        "AL": "Alabama",
        "AK": "Alaska",
        "AS": "American Samoa",
        "AZ": "Arizona",
        "AR": "Arkansas",
        "CA": "California",
        "CO": "Colorado",
        "CT": "Connecticut",
        "DE": "Delaware",
        "DC": "District Of Columbia",
        "FM": "Federated States Of Micronesia",
        "FL": "Florida",
        "GA": "Georgia",
        "GU": "Guam",
        "HI": "Hawaii",
        "ID": "Idaho",
        "IL": "Illinois",
        "IN": "Indiana",
        "IA": "Iowa",
        "KS": "Kansas",
        "KY": "Kentucky",
        "LA": "Louisiana",
        "ME": "Maine",
        "MH": "Marshall Islands",
        "MD": "Maryland",
        "MA": "Massachusetts",
        "MI": "Michigan",
        "MN": "Minnesota",
        "MS": "Mississippi",
        "MO": "Missouri",
        "MT": "Montana",
        "NE": "Nebraska",
        "NV": "Nevada",
        "NH": "New Hampshire",
        "NJ": "New Jersey",
        "NM": "New Mexico",
        "NY": "New York",
        "NC": "North Carolina",
        "ND": "North Dakota",
        "MP": "Northern Mariana Islands",
        "OH": "Ohio",
        "OK": "Oklahoma",
        "OR": "Oregon",
        "PW": "Palau",
        "PA": "Pennsylvania",
        "PR": "Puerto Rico",
        "RI": "Rhode Island",
        "SC": "South Carolina",
        "SD": "South Dakota",
        "TN": "Tennessee",
        "TX": "Texas",
        "UT": "Utah",
        "VT": "Vermont",
        "VI": "Virgin Islands",
        "VA": "Virginia",
        "WA": "Washington",
        "WV": "West Virginia",
        "WI": "Wisconsin",
        "WY": "Wyoming"
      }
    let linkListElement = document.getElementById("link-list");

    let by_state = {}

    var loadLinks = async () => {
      
      base('links').select({
        sort: [
          { field: 'state', direction: 'asc' }
        ],
        filterByFormula: "NOT({link_type} = 'data source')"
      }).eachPage(function page(records, fetchNextPage) {

        records.forEach(function (record) {
          const url = record.get("url");
          const state = record.get('state');

          let listitem = document.createElement("li");
          let link = document.createElement("a");
          link.innerText = url;
          link.href = url;
          link.dataset.recordId = record.getId();
          listitem.appendChild(link);

          if(!by_state[state]){
            by_state[state] = []
          }

          by_state[state].push(listitem)
        });

        fetchNextPage();
      }, function done(error) {
        populatePage()
        if (error) {
          console.error(error);
        }
      });
    };
    loadLinks()
    
    const populatePage = () => {

      //create headings for each state
      for (state in states) {
        if (!by_state[state]) {
          by_state[state] = []
        }

        if (by_state[state].length > 0) {

          let listheading = document.createElement("h3");
          listheading.innerText = states[state];

          let list = document.createElement("ul");
          list.id = state
          for (let link of by_state[state]) {
            list.appendChild(link)
          }

          linkListElement.appendChild(listheading);
          linkListElement.appendChild(list);
        }
      }
    };
  </script>
</div>
